development:
  DB_NAME: 'receipts_dev'
  DB_USER: 'postgres'
  DB_PASSWORD: 'postgres'
test:
  DB_NAME: 'receipts_test'
  DB_USER: 'postgres'
  DB_PASSWORD: 'postgres'
production:
  DB_NAME: ''
  DB_USER: ''
  DB_PASSWORD: ''
